*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
}
/*root variable*/
:root {
    --color-primary :#F18500;
    --color--primary-light: #ea8a12;
    --color-secondary-light: #f1eeec;
    --color-secondary-dark: #e79a2d;
    --color-navbar:#F8F8F8;
    --color-headings:#000000;
    --color-body:#333333;
    --color-white:#FFFFFF;

}
html {
    font-size: 62.5%;
}

h1 {
    color: var(--color-white);
    line-height: 1.5;
    font-size: 5rem;
}
h2, h3 {
    color: var(--color-headings);
    line-height: 1.5!important;
}
h2 {
    font-size: 3.5rem!important;
}
h3 {
    font-size: 2.8rem!important;
}
p {
    color: var(--color-body);
    font-size: 1.8rem;
    line-height: 2;
}
a:hover {
    color: var(--color-primary);
    text-decoration: none;
}
i {
    font-size: 2rem;
    color: var(--color-primary);
}

header {
    background-color: var(--color-white);
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid var(--color-primary);
}
header ul , header nav{
   width:  100%;
}
nav li {
    font-size: 1.5rem;
    margin-left: 7%;
}
nav a {
    color: var(--color-body);
}
.button {
    border-radius: 8px;
    border: 0;
    padding: 1rem 2.5rem;
    width: 20.4rem;
    font-size: 1.3rem;
}
.primary-btn {
    background-color: var(--color-primary);
    color: var(--color-white);
}
.secondary-btn {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
}
.banner {
    text-align: right;
    background-image: url("../assets/images/banner.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;
}
.business-intro {
    background-image: linear-gradient(to right, rgba(23, 26, 60, 0.7), rgba(23, 26, 60, 0.3));
    border-radius: 32px;
    position: absolute;
    top: 55px;
    right: 55px;
    height: fit-content;
    padding: 5%!important;
    /*width: 5.28rem!important;*/
}
.intro-text {
  color: var(--color-white);
    font-size: 2.4rem;
    line-height: 3.4rem;
}
.intro-button {
    color: var(--color-white);
    background: transparent;
    border: 2px solid var(--color-white);
    border-radius: 8px;
    padding: 1rem 2.5rem;
    width: 20.4rem;
    font-size: 1.6rem;
    margin-bottom:  5%;
}
.services {
    margin-top: 15%;
    padding: 0 3rem;
}
.service-types {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*.cards {*/
/*    margin:7%;*/
/*}*/
.card-button {
    border-radius: 8px;
    border: 0;
    width: 20.4rem;
    font-size: 1.3rem;
}
.price {
    font-size: 2rem;
}
.price-unit {
    font-size: 1.3rem;
    margin: 5% 0!important;
}
.panel-header {
    background-color: var(--color-secondary-dark)!important;
    color: var(--color-white);
    border-radius: 20px 20px 0 0!important;
    padding: 15% 10% 5% 10%!important;
}
.panel-header-primary {
    background-color: var(--color--primary-light)!important;
}
.panel-header p {
    color: var(--color-white);
}
.header-secondary {
    margin: 7% 0!important;
}
.list {
    background-color: var(--color-secondary-light);
    border-radius: 0 0 20px 20px;
}
.list div {
    line-height: 4;
    padding: 10%;
}
.list ul {
    padding: 0 10%;
}
.taxi-badge {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    border-radius: 32px;
    color: var(--color-primary);
    padding: 0.25rem 1rem;
}
.taxi-badge-primary {
    background-color: var(--color-primary);
    color: var(--color-white);

}
/*contact-us*/
.form {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    width: 80%;
    /*padding: 3rem 0!important;*/
}

.form input, .form textarea {
    border: 1px solid #E8E8E8;
    border-radius: 39px;
    background-color: #F5F5F5;
    padding: 1rem 3rem;
    width: 100%;
    margin: 1rem 0;
}
.form button {
    margin: 1rem 0;
}
.form textarea {
    border-radius: 2px;
    resize: none;
}
.form input:focus, .form textarea:focus {
    outline: 0;
    border: 1px solid var(--color-primary);
}
.comment {
    width: 80%;
}
.map  {
    width: 100%;
    height: auto;
}
/*footer*/

footer p {
    font-size: 1.4rem;
}
footer a , footer li, footer address{
    font-size: 1.4rem ;
    color: var(--color-body);
    line-height: 2;
}
footer a:hover {
    text-decoration: none;
    color: var(--color-primary);
}
footer address {
    display: inline-block;
}
/*footer ul li {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*}*/
footer i {
    font-size: 1.4rem;
    margin-left: 1rem;
}
footer ul {
    margin-top: 2rem;
}
@media screen  and (max-width: 768px){
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.2rem!important;
    }
    h3 {
        font-size: 2rem!important;
    }
    p {
        font-size: 1.4rem;
    }
    .button {
        margin-bottom: 5%;
    }
    .logo {
        top: 26px!important;
    }
    .intro-text {
        font-size: 1.5rem;
    }

    .business-intro {
        margin-top: 23%!important;
    }
    .mycard:hover, .primary-card:hover, .primary-card{
        transform: scale(1)!important;
    }
    .navbar-toggler {
        position: fixed;
        top: 24px!important;
    }
}
.card-layout {
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.list span {
    margin-right: 5%;
}
@media screen  and (max-width: 992px){
    .logo {
        position: fixed!important;
        top: 38px;
        left: 20px;
    }
    .business-intro {
        top: 0;
        right: 0;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
    }
    .mockup img{
        display: none!important;
    }
    .services {
        margin-top: 3%;
    }
    .service-types p {
        font-size: 1.4rem;
    }
    .mycard {
        width: 100%!important;
    }
    .map  iframe{
        width: 100%;
        height: auto;
    }
    .form {
        width: 100%;
    }
    .navbar-toggler {
        top: 35px;
    }
    .navbar-nav {
        text-align: right!important;
    }
    .nav ul {
        text-align: right!important;
    }
    .nav li {
        font-size: 0.75rem!important;
    }
    .imageStyle {
        margin: 10% 0;
    }
}
.mycard {
    border: 0!important;
    transition: all .5s linear;
    width: 80%;
}
.mycard:hover {
    transform: scale(1.1);
}
.card-header {
    border: 0!important;
}
.primary-card {
    transform: scale(1.1);
    transition: all .5s linear;
}
.primary-card:hover {
    transform: scale(1);
}
.navbar-toggler {
    border: 0!important;
    background-color: transparent!important;
}
.card {
    margin: 15% 0!important;
}